<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <appSettings>
        <add key="RootDirectoryForOutput" value="C:\BFSMonitorOutput"/>
        <add key="MonitoringAgentName" value="ma1"/>
        <add key="PathToBeChecked" value="G:\files"/>
        <add key="OutputMethod" value="csv"/>
        <add key="MinutesToTurnGreen" value="2"/>
        <add key="MinutesToTurnYellow" value="15"/>
    </appSettings>
</configuration>