<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <appSettings>
        <add key="RootDirectoryForOutput" value="C:\BFSMonitorOutput"/>
        <add key="MonitoringAgentName" value="ma1"/>
        <add key="PathToBeChecked" value="G:\files,G:\files1,G:\files2"/>
        <add key="OutputMethod" value="2"/>
        <add key="WebApiAddress" value="http://localhost:49388/"/>
        <add key="MinutesToTurnGreen" value="2"/>
        <add key="MinutesToTurnYellow" value="15"/>
    </appSettings>
</configuration>